@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins&display=swap");

$color: darken(
  $color: #fd760c,
  $amount: 2%,
);
$color2: #f6f7fb;
$color3: #202020;
